
.card-category {
  /* width: 310px; */
  height: 246.67px;
  border: 1px solid #f3f1ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-category-text {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.card-category img {
  width: 100%;
  height: 185px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


@media (max-width:800px) {
  .card-category{
    /* width: 347px; */
    height: auto;
  }
  .card-category img{
    
  }
  .card-category-text{
    margin-top: 15px;
    margin-bottom:5px ;
  }
}
@media (max-width:768px) {
  .card-category{
    width: 100%;
    height: 276px;
  }
  .card-category-text{
    margin-top: 15px;
  }
  .card-category-text h3{
    margin-bottom: 5px;
  }
  .to-show .card-category-text{
    margin-top: 0px;
  }
  .to-show .card-category-text h3{
    margin-bottom: 0px;
  }
}

@media (max-width:414px) {
  .card-category{
    /* width: 365px; */
    height: 257px;
  }


  .card-category-text{
    margin-top: 5px;
  }
  
}