.header-tablet{
    width: 100%;
    margin: auto;
    background-color: var(--color-base);
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 10000;
    top:0;
    position: sticky;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Poppins';
    
    
}
.header-tablet-content{
    height: 100px;
    width: 95%;
    /* max-width: 1366px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-width: 1340px; */
}
.botones-header{
    display: flex;
    /* margin-right: 32px; */
}
.header-tablet img{
    /* margin-left: 30px; */
}
.tablet-user-info{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
    min-width: 140px;
    
}
.tablet-user-info img{
    position: absolute;
    top:0;
    right: 0;;
}
.tablet-user-info h3{
    margin-left: 10px;
}