.header-tablet{
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}
.header-tablet-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botones-header{
    display: flex;
    margin-right: 32px;
}
.header-tablet img{
    margin-left: 30px;
}
.tablet-user-info{
    position: relative;
    display: flex;
    align-items: center;
    
}
.tablet-user-info img{
    position: absolute;
    top:0;
    right: 0;;
}
.tablet-user-info h3{
    margin-left: 10px;
}