
.card-product {
  width: 635px;
  height: 283px;
  border: 1px solid #f3f1ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: var(--color-base);
}

.card-product span {
  margin-left: 3px;
}

.card-product-text {
  padding: 15px 10px;
  margin-left: 3px;
  width: 324px;
  text-align: left;
  position: relative;
}

.card-product-img {
  width: 311px;
  height: 283px;
  position: relative;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fav {
  position: absolute;
  top: 15px;
  right: 15px;
}

.cat-cat {
  display: flex;
}
.product-cat-cat {
  display: flex;
  margin-left: 5px;
}

.cat-cat h4 {
  font-weight: 400;
}


.product-location {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
  margin-top: 30px;
}

.product-location p {
  align-self: center;
  margin-left:3px;
}

.product-location div {
  align-self:center;
}

.product-description {
  margin-top: 20px;
}

.product-description button {
  margin-top: 10px;
}

.product-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top:15px;
  right:12px;
}

.product-rating-score {
  background-color: var(--color-secondary);
  border-radius: 8px;
  display: inline-block;
  padding:0px 10px;
}

.product-rating-score-text {
  margin-left:5px;
  font-weight: 500;
}

.product-rating-score-text p {
  font-weight: 700;
}

.product-rating-score p {
  color: var( --color-base);
}

.icons {
  display: flex;
  padding: 0px 3px;
}

@media (max-width: 1366px) {
  .card-product {
    width: 710px;
    height: 279px;
    display: flex;
    align-items: center;
    background-color: var(--color-base)
  }
}

@media (max-width: 414px) {
  
}

