* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.card-product {
  width: 635px;
  height: 283px;
  border: 1px solid #f3f1ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.card-product-text {
  padding: 15px 10px;
  margin-left: 3px;
  width: 324px;
}

.card-product-img {
  width: 311px;
  height: 283px;
  position: relative;
}

.card-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fav {
  position: absolute;
  top: 15px;
  right: 15px;
}

.cat-cat {
  display: flex;
}
.product-cat-cat {
  display: flex;
}


/* .card-product-text p {
  margin-top: 60px;
  margin-bottom: 20px;
} */

.product-location {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
  margin-top: 20px;
}

.product-location p {
  align-self: center;
}

.product-location div {
  align-self:center;
}

.product-description {
  margin-top: 45px;
}

.product-description button {
  padding-top: 6px;
}

.read-more-link{
  color: blueviolet;
  text-decoration: underline;
  letter-spacing: 1px;
  cursor: pointer;
}
.extra-content{
  color: cornflowerblue;
  font-weight: 500;
}