.div-react-calendar{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 244px;
    height: 100%;
    padding: 4px;
}

.div-react-calendar .react-calendar{
    margin-left: 15px;
}

.div-react-calendar .react-calendar input{
    border: none;
}

.react-datepicker__close-icon::after{
    display: none !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
    border-radius: 50% !important;
    color: white;
    background-color: var(--color-primary) !important;
}


.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
    background-color: var(--color-primary) !important;
    border-radius: 50% !important;
}

/* .react-calendar-home .react-daterange-picker .react-daterange-picker__wrapper{
    display: flex;
    border: none;
    margin-left: 15px;
}

.react-calendar__navigation__prev2-button{
    display: none;
}

.react-calendar__navigation__next2-button{
    display: none;
} */