.mobileAdministration-container {
    width: 100%;
    padding-top: 25px;
}

.mobileAdministration h4 {
    margin-left: 9px;
}

.mobileAdministracion-add {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 27px;
    padding-top: 24px;
    padding-right: 27px;
    margin-top: 17px;
    border-top: 1px solid #DFE4EA;
    border-left: 1px solid #DFE4EA;
    border-right: 1px solid #DFE4EA;
    border-bottom: none;
}

.mobileAdministracion-add-name-category {
    width: 100%;
}

.mobileAdministracion-add-name input {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.mobileAdministracion-add-category input {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.mobileAdministracion-add-direccion-ciudad {
    width: 100%;
}

.mobileAdministracion-add-direccion input {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.mobileAdministracion-add-ciudad input {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.mobileAdministracion-add-precio {
    width: 100%;
}

.mobileAdministracion-add-precio input {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.mobileAdministracion-add-descripcion {
    width: 100%;
}

.mobileAdministracion-add-descripcion-info {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
}

.mobileAdministracion-add-descripcion-info input{
    width: 100%;
}

.mobileAdministracion-add-descripcion-info .input-label{
    width: 100%;
    margin-bottom: 13px;
}

.mobileAdministracion-add-descripcion-info textarea {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 8px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #DFE4EA;
    border-radius: 8px;
    font-size: 12px;
}

.mobileAdministracion-add-latitud-longitud {
    width: 100%;
}

.mobileAdministracion-add-latitud {
    width: 100%;
}

.mobileAdministracion-add-latitud input {
    margin-bottom: 15px;
    width: 100%;
}

.mobileAdministracion-add-longitud {
    width: 100%;
}

.mobileAdministracion-add-longitud input {
    width: 100%;
    margin-bottom: 30px;
}

.mobileAdministration-parte2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    border-top: none;
    border-left: 1px solid #DFE4EA;
    border-right: 1px solid #DFE4EA;
    border-bottom: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

}

.mobileAdministracion-add-agregarAtributo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobileAdministracion-add-agregarAtributo h4 {
    margin-bottom: 20px;
    margin-left: 0px;
}

.mobileAdministracion-add-atributo {
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    flex-direction: row;
    background-color: #DFE4EA;
    margin-bottom: 15px;
}

.mobileAdministracion-add-atributo-parte1 {
    width: 100%;
}

.mobileAdministracion-add-atributo-parte1 input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mobileAdministracion-add-atributo-parte2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobileAdministracion-add-atributo-parte2 button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.mobileAdministracion-add-politicas {
    width: 100%;
}

.mobileAdministracion-add-politicas h1 {
    display: flex;
    font-size: 23px;
}

.mobile-add-politicas-normas{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.mobile-add-normaDeCasa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    background-color: #E5E5E5;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.mobile-add-normaDeCasa textarea {
    margin-top: 10px;
    width: 100%;
    padding-left: 8px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #DFE4EA;
    border-radius: 8px;
    font-size: 12px;
}

.mobileAdministracion-add-SaludSeguridad-parte1{
    width: 100%;
}

.mobileAdministracion-add-normaDeCasa-parte2 button{
    margin-top: 23px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.mobileAdministracion-add-normaDeCasa-parte1{
    width: 100%;
}

.mobileAdministracion-add-normaDeCasa-parte2 button{
    margin-top: 23px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.mobile-add-politicas-cancelacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.mobile-add-politicas-saludyseguridad{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.mobile-add-politicas-saludyseguridad h3{
    margin-top: 10px;
}

.mobile-add-politicas-normas h3{
    margin-top: 10px;
}

.mobile-add-saludSeguridad{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    background-color: #E5E5E5;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.mobile-add-saludSeguridad textarea {
    margin-top: 10px;
    width: 100%;
    padding-left: 8px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #DFE4EA;
    border-radius: 8px;
    font-size: 12px;
}

.mobileAdministracion-add-SaludSeguridad-parte1{
    width: 100%;
}

.mobileAdministracion-add-saludSeguridad-parte2 button{
    margin-top: 23px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.mobileAdministracion-add-saludSeguridad-parte1{
    width: 100%;
}

.mobileAdministracion-add-saludSeguridad-parte2 button{
    margin-top: 23px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.mobile-add-politicas-cancelacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.mobile-add-politicas-cancelacion h3 {
    margin-bottom: 10px;
}

.mobile-add-politicasCancelacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    background-color: #E5E5E5;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.mobile-add-politicas-cancelacion textarea {
    margin-top: 10px;
    width: 100%;
    padding-left: 8px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #DFE4EA;
    border-radius: 8px;
    font-size: 12px;
}

.mobileAdministracion-add-politicaCancelacion-parte1{
    width: 100%;
}

.mobileAdministracion-add-politicaCancelacion-parte2 button{
    margin-top: 23px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.mobile-add-politicas-guardado{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    background-color: #E5E5E5;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.mobile-add-politica-parte1-guardado{
    width: 100%;
}

.mobile-add-politica-parte1-guardado input{
    width: 100%;
}

.mobile-add-politica-parte2-guardado button{
    margin-top: 6px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    opacity: 0.5;
}

.mobileAdministracion-add-cargarImagen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.mobileAdministracion-add-cargarImagen h2 {
    margin: 0px;
}

.mobileAdministracion-add-imagen {
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    background-color: #DFE4EA;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobileAdministracion-add-imagen-parte1 {
    width: 100%;
}

.mobileAdministracion-add-imagen-parte2 button {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.mobileAdministracion-add-imagen-parte1 input {
    width: 100%;
}

.mobileAdminsitracion-add-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.mobileAdminsitracion-add-button button {
    width: 90%;
    margin-bottom: 30px;
}

.renderButton-mobileAtributo {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #DFE4EA;
}

.renderizado-mobileAtribute {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.renderizado-mobileAtribute-parte1 {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: flex-start;
}

.errorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.errorContainer p {
    font-size: 14px;
    color: red;

}

.renderizado-mobileAtribute-parte2 button {
    width: 40px;
    height: 40px;
}


/* para el map de atributos */
.mobileAdministracion-add-atributo-guardado {
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    flex-direction: row;
    background-color: #DFE4EA;
    margin-bottom: 15px;
}

.mobileAdministracion-add-atributo-parte1-guardado {
    width: 100%;
}

.mobileAdministracion-add-atributo-parte1-guardado input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mobileAdministracion-add-atributo-parte2-guardado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobileAdministracion-add-atributo-parte2-guardado button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: var(--color-primary) !important;
    color: white !important;
    opacity: .5;
    cursor: inherit !important;
}

/* para el map de atributos traídos de BD */

.mobileAdministracion-atributos-checkboxs input {
    box-shadow: none;
}


.mobileAdministracion-atributos-checkboxs img {
    margin-left: 5px;
}

.mobileAdministracion-atributos-checkboxs label {
    margin-left: 5px;
}

/* imagen map cargadas */

.mobileAdministracion-add-imagen-cargada {
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    background-color: #DFE4EA;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobileAdministracion-add-imagen-parte1-cargada {
    width: 100%;
}

.mobileAdministracion-add-imagen-parte2-cargada button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: var(--color-primary) !important;
    color: white !important;
    opacity: .5;
    cursor: inherit !important;
}

.mobileAdministracion-add-imagen-parte1-cargada input {
    width: 100%;
}

.errorContainerImagen {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: -20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.errorContainerImagen p {
    font-size: 14px;
    color: red;
}

.errorContainerAtributo {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.errorContainerAtributo p {
    font-size: 14px;
    color: red;
}

/* error imagen */

.desktop-errorContainerImagen {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:-10px
}

.desktop-errorContainerImagen p {
    font-size: 14px;
    color: red;
}

/* estilos para atributos checkboxs */

.mobileAdministracion-add-atributo-checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 100%;
    background-color: #E5E5E5;
}

.mobileAdministracion-add-atributo-checkbox{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobileAdministracion-atributos-checkboxs{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.mobileAdministracion-atributos-checkboxs input{
    box-shadow: none;
}

.mobileAdministracion-atributos-checkboxs img{
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width:600px){
    .mobileAdministracion-atributos-checkboxs{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }    
}
