.dropdown{
    position: relative;
    user-select: none;
    border: 1pX solid red;
}
.dropdown .dropdown-btn{
    padding:10px;
    background-color: var(--color-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1pX solid var(--color-primary);
}
.dropdown .dropdown-content{
    position: absolute;
    top:110%;
    left:0;
    /* padding:15px; */
    width: 95%;
    background-color: var(--color-base);
    border: 1pX solid var(--color-secondary);
    
}

.dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
    border: 1pX solid var(--color-tertiary);
}
.dropdown-item:hover{
    background-color: var(--color-base);
}