.rs-picker-toolbar-ranges{
    display: none;
}

div .primerCalendario{
    display: flex;
}

.rs-picker-daterange-header{
    display: none;
}

.rs-picker-toolbar-right{
    display: flex;
    justify-content: center;
}

.rs-picker-toggle{
    width: 422px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content{
    border-radius: 50%;
    background-color: var(--color-primary);
}


.rs-btn-primary{
    background-color: var(--color-primary);
    width: 206px;
    height: 40px;
}

.rs-calendar-table-cell-content:hover{
    border-radius: 50%;
}

.rs-btn-primary.rs-btn-disabled, .rs-btn-primary:disabled{
    background-color: var(--color-primary);
}


@media (max-width:1365px) {
    .rs-picker-toggle {
        width: 254px;
    }   
    .rs-picker-toolbar{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .rs-btn-primary{
        width: 326.22px;
    }
}

@media (max-width:767px) {
    .rs-picker-toggle {
        width:393.7px;
    }
    .rs-picker-daterange-menu .rs-picker-daterange-panel-show-one-calendar .rs-picker-toolbar{
        max-width: none;
    }

    .rs-anim-fade{
        width: 393.7px;
    }

    .rs-btn-primary{
        width: 300px;
    }
}