
.heading{
    color: var(--color-tertiary) ;
    line-height: 23.44px;
    letter-spacing: 0.4px;
}
.color-base{
    color: var(--color-base);
}
.color-primary{
    color: var(--color-primary);
}
.color-secondary{
    color:var(--color-secondary);
}

.size-xs{
    font-size:14px;
    
}
.size-sm{
    font-size:16px;
    
}
.size-md{
    font-size: 20px;
    
}
.size-lg{
    font-size: 24px;
    
}