.login {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto ;
}

.login h2 {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    /* font-size: 24px; */
    line-height: 28px;
    /* text-align: center; */
}


.login-name-surname {
    display: flex;
    flex-direction: row;
}

.login-name {
    margin-left: 12px;
}

.login button {
    margin-top: 45px;
    margin-bottom: 15px;
}

.login p {
    /* font-family: 'Roboto'; */
    font-style: normal;
    /* font-weight: 300; */
    /* font-size: 12px; */
    line-height: 14px;
    text-align: center;
    /* font-weight: bold; */
    /* color: var(--color-secondary);; */
}

.login p a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
    margin-left: 5px;
}
form p{
    margin-top: 5px;
    margin-bottom: 0px;
}
form .login-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.warning-message{
    background: #FFE1E1;
    
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 448px;
    height: 62px;
    margin-bottom: 30px;
}
