* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background-color:#EBEBEE;
}

.products-content {

 padding-top: 19px;
}

.product-cards-container {
    margin-top: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 16px 16px; 
    justify-items: center;
}

.product-container {
   
}

@media (max-width: 1366px) {
  
   
  }