.input-icon{
    border-radius: 5px;
    background-color:#fff ;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
    
}
.input-icon  input{
    width: 100%;
    margin-left: 29px;
    border-top-left-radius:10px none ;

}

.type-left img{
position: absolute;
    left: 11px;
    top:6px;
    bottom: 8px;
}
.type-right img{
    position: absolute;
    right: 11px;
    top:6px;
    bottom: 8px;
}

