.footer-mobile{
    width: 100%;
    background-color: var(--color-primary);
    height: 58px;
    display: flex;
    align-items: flex-end;
    
}
.footer-mobile-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: baseline;
}