.footer-mobile{
    width: 100%;
    background-color: #1DBEB4;
    height: 58px;
    display: flex;
    align-items: center;
    
}
.footer-mobile-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: baseline;
}