.mobile-bloque-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-bloque-container-first {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    background-color: var(--color-secondary);
}

.mobile-bloque-container-first-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9px;
}

.mobile-bloque-container-first-first .paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #F3F1ED;
}

.mobile-bloque-container-first-second {
    padding-right: 14px;
}

.mobile-bloque-container-second {
    height: 79px;
    width: 100%;
    background-color: #DFE4EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-bloque-container-second .mobile-rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mobile-rating-score-second {
    background-color: var(--color-primary);
    border-radius: 8px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right: 11px;
}

.mobile-rating-score-first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-right: 8px;
}

.mobile-rating-score-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.mobile-rating-score-text p {
    font-weight: 700;
}

.mobile-rating-score p {
    color: var(--color-base);
}

.mobile-rating-score-star {
    display: flex;
    flex-direction: row;
}

.mobile-bloque-container-second .mobile-product-icon-ubication {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mobile-bloque-container-second .mobile-product-icon-ubication .mobile-product-icon {
    margin-left: 11px;
    margin-right: 6px;
}

.mobile-bloque-container-second .mobile-product-icon-ubication .mobile-product-ubication {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

